<%= form_with(model: change_history) do |form| %>
  <% if change_history.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(change_history.errors.count, "error") %> prohibited this change_history from being saved:</h2>

      <ul>
        <% change_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :modification_date, style: "display: block" %>
    <%= form.date_field :modification_date %>
  </div>

  <div>
    <%= form.label :change_description, style: "display: block" %>
    <%= form.text_field :change_description %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
