<!DOCTYPE html>
<html>
  <head>
    <title>CentraldeMochilas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <%= render 'layouts/header' %>
   <main class="main-container">
     
      <!-- Menú lateral -->
      <aside class="sidebar">
      <ul>
          <li><%= link_to "Products", products_path%></li>
          <li><%= link_to "Proveedores", suppliers_path%></li>
          <li><%= link_to "Ventas", reserve_or_purchases_path%></li>
          <li><%= link_to "Reporte de ventas",  sales_reports_index_path %></li>
          <li><%= link_to "Usuarios",  users_path%></li>
        </ul>
      </aside>
      <section class="content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
